.body{
<<<<<<< HEAD
    background-color: var(--bs-body-bg);
=======
    background: rgb(0,0,0) !important; 
    background: linear-gradient(0deg, rgb(90, 84, 84) 0%, rgb(8, 54, 67) 100%) !important;
>>>>>>> 0184806239be1b350750ee425ac938979873b3de
}
.card-outline{
    margin-top: -6rem;
    margin-left: 3rem;
}
.search{
    margin-left: 62rem;
}
.navbar-brand{
    margin-left: 3rem;
<<<<<<< HEAD
=======
    color: #f3ebeb;
    
}
.navbar{
    background: linear-gradient(0deg,  rgb(45, 35, 35) 0%, rgb(23, 61, 72)  100%);
>>>>>>> 0184806239be1b350750ee425ac938979873b3de
}
.mb-3 {
    margin-bottom: 3rem !important;
}
.downloadCnt{
    padding-left: 84rem;
    flex-direction: column;
    display: flex;
<<<<<<< HEAD
}

.btn-secondary{
    margin-bottom: 1rem;
    margin-top: 1rem;
=======
    background: rgb(8, 54, 67) ;
}

.btn-secondary{
    margin-bottom: -3rem;
    margin-top: 4rem;
}
.card-container{
    background: rgb(0,0,0) !important; 
    background: linear-gradient(0deg, rgb(81, 63, 63) 0%, rgb(8, 54, 67) 100%) !important;
    padding-top: -2rem;
    padding-left: 3rem;
}
.card-header{
    font-size: larger;
}
.card{
    max-width: 42rem !important;
>>>>>>> 0184806239be1b350750ee425ac938979873b3de
}