<app-navigation-bar 
[pageTitle]="'Buy'"
[Link1]="'Movies'"
[Link1Route]="'#'"
[Link2]="'TV Shows'"
[Link2Route]="'#'"
[Link3]="'Subscribe'"
[Link3Route]="'#'"
[Link4]="'More features!'">
</app-navigation-bar>

 <div class="card">
    <h5 class="card-header">Select the movie you want to buy</h5>
    <div class="card-body">
        <div>
            <label class="card-title" for="movieSelect">Select a movie:</label><br>
            <label for="movieSelect">Select a movie:</label>
  <select id="movieSelect" [(ngModel)]="selectedMovie" (change)="resetBuyButton()">
    <option *ngFor="let movie of movies" [value]="movie.title">{{ movie.title }}</option>
  </select>
            <div *ngIf="selectedMovie">
                <p>Price: &#8377;{{ getPriceOfSelectedMovie() }}</p>
              </div>
          </div>
          <button class="btn"
          [class.btn-primary]="!isItemBought && !isBuying"
          [class.btn-success]="isItemBought && !isBuying"
          [disabled]="isBuying || isItemBought"
          (click)="buyItem()">
    <span *ngIf="isBuying && !isItemBought">
      Buying <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </span>
    <span *ngIf="!isBuying && !isItemBought">
      Buy Now
    </span>
    <span *ngIf="isItemBought">
      Item Bought
    </span>
  </button>
  <button class="btn btn-primary" *ngIf="isItemBought" (click)="printInvoice()">Print Invoice</button>
    </div>
  </div>

