<div class="jumbotron jumbotron-fluid analytics">
  <div class="container">
      <div class="row">
        <div class="col">
          <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{Item1}}</h5>
              <h1 class="card-text" id="count1"></h1>
              <a href={{ButtonLink1}} class="btn btn-primary">{{Button1}}</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{Item2}}</h5>
              <h1 class="card-text" id="count2"></h1>
              <a href={{ButtonLink2}} class="btn btn-info">{{Button2}}</a>
            </div>
            </div>
        </div>
        <div class="col">
          <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{Item3}}</h5>
              <h1 class="card-text" id="count3"></h1>
              <a href={{ButtonLink3}} class="btn btn-success">{{Button3}}</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{Item4}}</h5>
              <h1 class="card-text" id="count4"></h1>
              <a href={{ButtonLink4}} class="btn btn-dark">{{Button4}}</a>
            </div>
          </div>
          </div>             
      </div>
    </div>
</div>
