<app-navigation-bar 
[pageTitle]="'Home'"
[Link1]="'Movies'"
[Link1Route]="'#'"
[Link2]="'TV Shows'"
[Link2Route]="'#'"
[Link3]="'Buy'"
[Link3Route]="'/buy'"
[Link4]="'More features!'">
</app-navigation-bar>
<app-banner [Title]="'Lights, Camera, Action: Dive into Our Movie Selection!'" [Description]="'Explore our vast movie collection, spanning timeless classics to the latest blockbusters. Delve into captivating stories and unforgettable moments, finding entertainment for every taste'"></app-banner>
<app-featured-movies 
[Title]="'Featuring'" 
[CardTitle]="'Dune: Part Two'" 
[ShortSummary]="'Paul Atreides journey to find revenge on the conspirators who destroyed his family, while also uniting with Chani and the Fremen.'"
[Rating]="'IMDB Rating 8.8/10'"
[CheckoutButtonText]="'Check it out now'"></app-featured-movies>
<app-quote-box [QuoteText]="'Movies can and do have tremendous influence in shaping young lives in the realm of entertainment towards the ideals and objectives of normal adulthood.'" [CreditText]="'by the great '" [QuotedBy]="'Walt Disney'"></app-quote-box>
<app-parallax></app-parallax>
<app-footer></app-footer>
<button class= "btn btn-dark" (click) = "signup()">SignUp</button>
<!-- ngx print 

<div id="print-section">
    <div class="invoice">
        <div class="invoice-header">
          <h1>Movie Purchase Invoice</h1>
        </div>
        <div class="invoice-body">
          <div class="movie-details">
            <h2>Inception</h2>
            <p>Directed by: Christopher Nolan</p>
            <p>Price: $9.99</p>
          </div>
          <div class="payment-details">
            <h3>Payment Details</h3>
            <p>Payment method: Credit Card</p>
            <p>Card Number: **** **** **** 1234</p>
            <p>Transaction ID: 1234567890</p>
          </div>
        </div>
        <div class="invoice-total">
          <p>Total: $9.99</p>
        </div>
      </div>
</div>
  <button  
	printTitle="Movie details"  
	printSectionId="print-section"  
	ngxPrint>print</button>-->


    <!-- home.component.html -->
  