<app-navigation-bar 
[pageTitle]="'Home'"
[Link1]="'JioCinema'"
[Link1Route]="'https://www.jiocinema.com/'"
[Link2]="'NetFlix'"
[Link2Route]="'https://www.netflix.com/in/'"
[Link3]="'Amazon Prime'"
[Link3Route]="'https://www.primevideo.com/'"
[Link4]="'More features!'">
</app-navigation-bar>
<app-banner [Title]="'Lights, Camera, Action: Dive into Our Movie Selection!'" [Description]="'Explore our vast movie collection, spanning timeless classics to the latest blockbusters. Delve into captivating stories and unforgettable moments, finding entertainment for every taste'"></app-banner>

