.card {
    height: 600px;
    border-radius: 0;
    background-image: url(./posters/dune2.jpg);
    background-size: cover;
}
.card-text{
    position: relative;
    top:50px;
}
.word-wrap {
    word-wrap: break-word;
    width: 500px;    ;
}
.rating{
    position: relative;
    top:100px;
}

;