<app-navigation-bar 
  [pageTitle]="'Manage Permissions'"
  [Link1]="'Dashboard'"
  [Link1Route]="'/Admin'"
  [Link2]="'Add User'"
  [Link2Route]="'/AddUser'"
  [Link3]="'Manage Permissions'"
  [Link3Route]="'/ModifyPermissions'"
  [Link4]="'Database Management'">
</app-navigation-bar>

<form [formGroup]="permissionsForm" (ngSubmit)="onSubmit()">
  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Employee Name
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" (click)="permissionsForm.controls['selectedUserId'].setValue('Manjiri')">Manjiri</a></li>
      <li><a class="dropdown-item" (click)="permissionsForm.controls['selectedUserId'].setValue('Rahul')">Rahul</a></li>
      <li><a class="dropdown-item" (click)="permissionsForm.controls['selectedUserId'].setValue('Manjit')">Manjit</a></li>
      <li><a class="dropdown-item" (click)="permissionsForm.controls['selectedUserId'].setValue('Krishnendu')">Krishnendu</a></li>
      <li><a class="dropdown-item" (click)="permissionsForm.controls['selectedUserId'].setValue('Priya')">Priya</a></li>
      <li><a class="dropdown-item" (click)="permissionsForm.controls['selectedUserId'].setValue('Pavitra')">Pavitra</a></li>
      <li><a class="dropdown-item" (click)="permissionsForm.controls['selectedUserId'].setValue('Lakshmi')">Lakshmi</a></li>
    </ul>
  </div>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="adminSwitch" formControlName="isAdmin">
    <label class="form-check-label" for="adminSwitch">Admin</label>
  </div>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="activeSwitch" formControlName="isActive">
    <label class="form-check-label" for="activeSwitch">Active</label>
  </div>
  <div class="form-group">
    <label for="permissionChangeRequestType">Permission Change Request Type</label>
    <input type="text" class="form-control" id="permissionChangeRequestType" formControlName="permissionChangeRequestType">
  </div>
  <div class="form-group">
    <label for="permissionChangeRequestValue">Permission Change Request Value</label>
    <input type="text" class="form-control" id="permissionChangeRequestValue" formControlName="permissionChangeRequestValue">
  </div>
  <div class="form-group">
    <label for="changeRequestUserId">Change Request User ID</label>
    <input type="text" class="form-control" id="changeRequestUserId" formControlName="changeRequestUserId">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
