<app-navigation-bar 
  [pageTitle]="'Manage Users'"
  [Link1]="'Dashboard'"
  [Link1Route]="'/Admin'"
  [Link2]="'Add User'"
  [Link2Route]="'/AddUser'"
  [Link3]="'Manage Permissions'"
  [Link3Route]="'#'"
  [Link4]="'Database Management'">
</app-navigation-bar>

<div class="container-fluid mt-3 px-4" style="overflow-x: auto;">
<ag-grid-angular
    style="width: 100%; height: 500px"
    class="ag-theme-alpine"
    [rowData]="visibleUsers"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowSelection]="'multiple'"
    [suppressRowClickSelection]="true"
    (cellValueChanged)="onCellValueChanged($event)"
    (gridReady)="onGridReady($event)"
     (bodyScroll)="onBodyScroll()"
    (rowValueChanged)="onRowValueChanged($event)"></ag-grid-angular>
</div>
<div class="container my-4">
  <div class="row g-3">
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <div class="card text-center border-dark">
        <div class="card-body">
          <h6 class="card-title">Total Records</h6>
          <h3>{{ totalRecords }}</h3>
        </div>
      </div>
    </div>
     <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <div class="card text-center border-success">
        <div class="card-body">
          <h6 class="card-title">Total Users</h6>
          <h3>{{ userCount }}</h3>
        </div>
      </div>
    </div>
   <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <div class="card text-center border-info">
        <div class="card-body">
          <h6 class="card-title">Total Active Users</h6>
          <h3>{{ activeUsersCount }}</h3>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <div class="card text-center border-warning">
        <div class="card-body">
          <h6 class="card-title">Total Administrators</h6>
          <h3>{{ adminCount }}</h3>
        </div>
      </div>
    </div>
   <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <div class="card text-center border-danger">
        <div class="card-body">
          <h6 class="card-title">Total Active Admins</h6>
          <h3>{{ totalActiveAdminsCount }}</h3>
        </div>
      </div>
    </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <div class="card text-center border-secondary">
        <div class="card-body">
          <h6 class="card-title">Total Inactive Users</h6>
          <h3>{{ inactiveUsersCount }}</h3>
        </div>
      </div>
    </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-2">
      <div class="card text-center border-dark">
        <div class="card-body">
          <h6 class="card-title">Total Inactive Admins</h6>
          <h3>{{ inactiveAdminsCount }}</h3>
        </div>
      </div>
    </div>
    
  </div>
</div>
