.addUserCard{
    position: relative;
    top:100px;
    width: 1000px;
    left:250px;
    box-shadow: 0 10px 10px #221f1f80;
    background-color: white;
}
.mainbody{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    height: 600px;
}