<app-navigation-bar 
  [pageTitle]="'MovieWizard'"
  [Link1]="'Dashboard'"
  [Link1Route]="'/Admin'"
  [Link2]="'Manage Users'"
  [Link2Route]="'/ManageUsers'"
  [Link3]="'Analytics'"
  [Link3Route]="'#'"
  [Link4]="'Database Management'">
</app-navigation-bar>

<div class="card addUserCard">
  <h5 class="card-header">Add User</h5>
  <div class="card-body">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="row g-3">
      <div class="col-md-6">
        <label for="UserName" class="form-label">Name:</label>
        <input type="text" id="UserName" formControlName="UserName" class="form-control" required>
      </div>
      <div class="col-md-6">
        <label for="Email" class="form-label">Email:</label>
        <input type="email" id="Email" formControlName="Email" class="form-control" required>
      </div>
      <div class="col-md-6">
        <label for="Password" class="form-label">Password:</label>
        <input type="password" id="Password" formControlName="Password" class="form-control" required>
      </div>
      <div class="col-md-6">
        <label for="PhoneNumber" class="form-label">Phone Number:</label>
        <input type="tel" id="PhoneNumber" formControlName="PhoneNumber" class="form-control" required>
      </div>
      <div class="col-md-6">
        <label class="form-label">Type:</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="userTypeUser" formControlName="userType" value="User" checked>
          <label class="form-check-label" for="userTypeUser">User</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" id="userTypeAdmin" formControlName="userType" value="Administrator">
          <label class="form-check-label" for="userTypeAdmin">Administrator</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-check">
          <input type="checkbox" id="IsActive" formControlName="IsActive" class="form-check-input">
          <label for="IsActive" class="form-check-label">Active:</label>
        </div>
      </div>
      <div class="col-12">
        <button 
        type="submit" 
        [disabled]="isSubmitting || isUserAdded" 
        [ngClass]="{
          'btn-primary': !isSubmitting && !isUserAdded,
          'btn-secondary': isSubmitting
        }" 
        class="btn">
        {{ (isSubmitting ? 'Submitting...' : 'Add User') }}
      </button>
      </div>
    </form>
  </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <svg 
      xmlns="http://www.w3.org/2000/svg" 
      width="16" 
      height="16" 
      fill="currentColor" 
      class="bi bi-bell me-2" 
      viewBox="0 0 16 16">
    <path d="M8 16a2 2 0 0 0 1.985-1.75H6.015A2 2 0 0 0 8 16zm6-6a6 6 0 0 0-5-5.917V4a3 3 0 1 0-6 0v.083A6 6 0 0 0 2 10v1.586l-.293.293A1 1 0 0 0 2 14h12a1 1 0 0 0 .707-1.707L14 11.586V10zM8 1a4 4 0 0 1 4 4v.083c0 .18.002.36.01.539A5.992 5.992 0 0 1 14 10v1H2v-1a5.992 5.992 0 0 1 1.99-4.378c.008-.18.01-.359.01-.539V5a4 4 0 0 1 4-4z"/>
  </svg>
      <strong class="me-auto">Notification</strong>
      <small>Just now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      User Added Successfully
    </div>
  </div>
</div>