<app-navigation-bar 
  [pageTitle]="'Movies'"
  [Link1]="'Home'"
  [Link1Route]="'/home'"
  [Link2]="'TV Shows'"
  [Link2Route]="'/TV Shows'"
  [Link3]="''"
  [Link3Route]="'#'"
  [Link4]="''">
</app-navigation-bar>
<br>
<br>
<div class="container mt-4">
  <!-- Bootstrap Search Bar -->
   
  <div class="row mb-4">
    <div class="col-12 col-md-6 offset-md-3">
      
      <div class="input-group">
        <input
          type="text"
          class="form-control me-2"
          placeholder="Search movies by title, director, actor or genre..."
          aria-label="Search movies"
          [(ngModel)]="searchTerm"
          (input)="onSearch($event)"
        />
        <button class="btn btn-outline-secondary" type="button">
          <i class="bi bi-search">Search</i>
        </button>
      </div>
    </div>
  </div>

  <!-- Movie Grid -->
  <div class="row" *ngIf="displayAllMovies">
    <!-- Loop through the filteredMovies array and create a card for each movie -->
    <div class="col-12 col-sm-6 col-md-3 mb-4" *ngFor="let movie of movies">
      <app-movie-card [movie]="movie"></app-movie-card>
    </div>
  </div>
  <div class="row" *ngIf="displaySearchedMovies">
  <div class="col-12 col-sm-6 col-md-3 mb-4" *ngFor="let movie of filteredMovies">
    <app-movie-card [movie]="movie"></app-movie-card>
  </div>
</div>

</div>